<div class="container">
	<div class="user-header"><h2><%= @user.username %></h2></div>
	<div class="container">

		<div class="user-stats"> <p> Member since: <%= long_form_date(@user.created_at) %> </p>

		<h3> Your Restaurants </h3>

		<% if @restaurants.length < 1 %>
			You have not created any restaurants yet. <br><a href="/restaurants/new"> Create a restaurant. </a>
		<% else %>
			<ul>
			  <% @restaurants.each do |restaurant| %>
			        <li class="restaurantBullet"> <a class="restaurantLink" href="/restaurants/<%= restaurant.id %>"> <%= restaurant.name %></a> <br>
			          <span class="restaurantlistdetails"> <%= restaurant.cuisine %> || <%= restaurant.city %>, <%= restaurant.state %> </span></li>
			  <% end %>
			</ul>
		<% end %>

		<h3 class="heder"> Your Reviews </h3>
		<div class="container">
			<% if @reviews.length >= 1 %>
				<%= erb :"/reviews/_show" %>
			<% else %>
				<p> You haven't reviewed any restaurants yet. </p>
			<% end %>
		</div>

	</div>
</div>
