<div class="restaurantPage">
  <h2> <%= @restaurant.name %> </h2>

  <ul class="restaurantProfile">
    <li> Cuisine: <%= @restaurant.cuisine %> </li>
    <li> Address: <%= @restaurant.address %>
    <li> City: <%= @restaurant.city %> </li>
    <li> State: <%= @restaurant.state %> </li>
     <% if @reviews.length > 1 %>
    <li> Average Review Score: <%= @restaurant.average_score %> </li>
    <% end %>
  </ul>
</div>
<% if current_user %>
  <% if current_user.id == @restaurant.creator_id %>
    <p><a href="/restaurants/<%= @restaurant.id %>/edit"> Edit this restaurant </a>
    <form class="deleteRestaurant" method="post" action="/restaurants/<%= @restaurant.id %>">
      <input type="hidden" name="_method" value="delete">
      <input id="deleteRestaurantButton" type="submit" value="Delete this restaurant">
    </form>
  <% end %>
<% end %>
<hr class="reviewsDivider">

<div class="reviews">
  <h3> Reviews </h3>
  <% if !logged_in? %>
  <p><a href="/users/new"> Leave your own review. </a></p>
  <% else %>
    <%= erb :"/reviews/_new" %>
  <% end %>
 <% if @reviews.length > 1 %>
  <ul>
    <% @reviews.each do |review| %>
      <li class="reviewBullet"> <span class="reviewContent"><%= review.content %> <br></span>
        <span class = "reviewDetails"> <%= long_form_date(review.created_at) %> || Rating: <%= review.points %> || By: <%= User.find(review.author_id).username %>  </span> </li>
    <% end %>
  <% end %>
  </ul>
</div>





